.header{
    background:crimson;
    color: white;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 0;
    align-items: center;


    .logo{
        height: 10vh;
        width: 70px;

        .logo-image{
            max-width: 100%;
            max-height: 100%;
        }
    }

    .menu{
        list-style: none;
        display: flex;
        flex-basis: 10%;
        justify-content: space-between;

        .menu-item{
            color: white;
            cursor: pointer;
        }
    }
}